<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Progress Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script>
        function StompWSConnection() {
            if ("WebSocket" in window) {
                let wsStompDisplay = new SockJS("http://152.118.148.95:15674/stomp");
                let clientDisplay = Stomp.over(wsStompDisplay);
                let mqQueueDisplay = "/exchange/1706979234/" + "{{ routing_key }}";

                let onConnectDisplay = function () {
                    console.log("connected");
                    clientDisplay.subscribe(mqQueueDisplay, onMessageDisplay);
                };

                let onErrorDisplay = function () {
                    console.log("error");
                };

                let onMessageDisplay = function (message) {
                    console.log("message received");
                    let percentageBar = document.getElementById("upload-progress");
                    let percentage = JSON.parse(message.body);
                    percentageBar.innerText = `${percentage}%`;
                    percentageBar.setAttribute("aria-valuenow", percentage);
                    percentageBar.style.width = `${percentage}%`;
                };

                clientDisplay.connect("0806444524", "0806444524", onConnectDisplay, onErrorDisplay, "/0806444524");
            } else {
                alert("WebSocket is not supported!");
            }
        }

        StompWSConnection();
    </script>
</head>
<body>
<h1 class="h1 text-center">FILE NAME: {{ file_name }}</h1>
<h2 class="h2 text-center">STATUS: {{ response }}</h2>
<h3 class="h3 text-center">Compression Progress</h3>
<div class="progress">
    <div id="upload-progress" class="progress-bar" role="progressbar"
         aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0%
    </div>
</div>
<a href="{% url 'upload' %}">Return to Upload Form</a>
</body>
</html>
